In [4]:
import pandas as pd
url = "D:/data/pimaindian.txt"
cname = ["preg","plas","pres","skin","test","mass","pedi","age","class"]

data = pd.read_csv(url,names=cname)
data.head()

type(data)  #Returns type of data

pandas.core.frame.DataFrame

In [3]:
shape = data.shape
print(shape) # Gives number of rows and columns of data frame

(768, 9)

In [5]:
types = data.dtypes # Returns data types of columns of data frame
print(types)

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [7]:
#statistical summary
pd.set_option('precision',2)
data.describe()

         preg    plas    pres    skin    test    mass    pedi     age   class
count  768.00  768.00  768.00  768.00  768.00  768.00  768.00  768.00  768.00
mean     3.85  120.89   69.11   20.54   79.80   31.99    0.47   33.24    0.35
std      3.37   31.97   19.36   15.95  115.24    7.88    0.33   11.76    0.48
min      0.00    0.00    0.00    0.00    0.00    0.00    0.08   21.00    0.00
25%      1.00   99.00   62.00    0.00    0.00   27.30    0.24   24.00    0.00
50%      3.00  117.00   72.00   23.00   30.50   32.00    0.37   29.00    0.00
75%      6.00  140.25   80.00   32.00  127.25   36.60    0.63   41.00    1.00
max     17.00  199.00  122.00   99.00  846.00   67.10    2.42   81.00    1.00

In [8]:
class_counts = data.groupby('class').size()
print(class_counts)

class
0    500
1    268
dtype: int64

In [16]:
correlations = data.corr('pearson')
print(correlations)
kendall = data.corr('kendall')
print(kendall)

       preg  plas  pres  skin  test  mass  pedi   age  class
preg   1.00  0.13  0.14 -0.08 -0.07  0.02 -0.03  0.54   0.22
plas   0.13  1.00  0.15  0.06  0.33  0.22  0.14  0.26   0.47
pres   0.14  0.15  1.00  0.21  0.09  0.28  0.04  0.24   0.07
skin  -0.08  0.06  0.21  1.00  0.44  0.39  0.18 -0.11   0.07
test  -0.07  0.33  0.09  0.44  1.00  0.20  0.19 -0.04   0.13
mass   0.02  0.22  0.28  0.39  0.20  1.00  0.14  0.04   0.29
pedi  -0.03  0.14  0.04  0.18  0.19  0.14  1.00  0.03   0.17
age    0.54  0.26  0.24 -0.11 -0.04  0.04  0.03  1.00   0.24
class  0.22  0.47  0.07  0.07  0.13  0.29  0.17  0.24   1.00
           preg  plas      pres  skin      test      mass  pedi   age  class
preg   1.00e+00  0.09  1.35e-01 -0.06 -9.64e-02  4.18e-03 -0.03  0.46   0.17
plas   9.13e-02  1.00  1.60e-01  0.04  1.64e-01  1.56e-01  0.06  0.20   0.39
pres   1.35e-01  0.16  1.00e+00  0.09 -3.68e-03  2.05e-01  0.02  0.25   0.12
skin  -6.44e-02  0.04  9.49e-02  1.00  4.20e-01  3.32e-01  0.13 -0.04   0.08
test  -9.64e-02  0.16 -3.68e-03  0.42  1.00e+00  1.42e-01  0.16 -0.08   0.06
mass   4.18e-03  0.16  2.05e-01  0.33  1.42e-01  1.00e+00  0.09  0.09   0.25
pedi  -3.00e-02  0.06  1.94e-02  0.13  1.62e-01  9.46e-02  1.00  0.03   0.14
age    4.58e-01  0.20  2.46e-01 -0.04 -8.02e-02  8.87e-02  0.03  1.00   0.26
class  1.70e-01  0.39  1.19e-01  0.08  5.85e-02  2.54e-01  0.14  0.26   1.00

In [14]:
skew = data.skew()
print(skew)

preg     0.90
plas     0.17
pres    -1.84
skin     0.11
test     2.27
mass    -0.43
pedi     1.92
age      1.13
class    0.64
dtype: float64

In [23]:
import pandas as pd
left_frame = pd.DataFrame({'key':range(5), 'left_value':['a','b','c','d','e']})
right_frame = pd.DataFrame({'key':range(2,7), 'right_value':['f','g','h','i','j']})
print(left_frame)
print('\n')
print(right_frame)

#inner join

#Here on is for common column to be used for join
pd.merge(left_frame,right_frame, on='key', how='inner')

# incase of different columns in two data frames
pd.merge(left_frame,right_frame,left_on='key', right_on='key', how = 'inner')

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e


   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [25]:
# outer join
# pd.merge(left_frame,right_frame,left_on='key', right_on='key', how = 'outer')

pd.concat([left_frame,right_frame], sort=True)

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [27]:
pd.concat([left_frame,right_frame], axis=1)

   key left_value  key right_value
0    0          a    2           f
1    1          b    3           g
2    2          c    4           h
3    3          d    5           i
4    4          e    6           j

In [35]:
import numpy as np
a = np.random.normal(loc=50, scale=2,size=(2,2))
print(a)

[[52.29113386 51.5772677 ]
 [50.53447917 46.8704178 ]]

In [36]:
b = np.random.normal(loc=50, scale=10, size=(2,2))
print(b)

[[57.87094038 51.26915216]
 [35.69327215 58.33845364]]