In [1]:
import pandas as ps
import numpy as np
url = "D:/data/boston_X.xls"
data =ps.read_excel(url);
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33

In [6]:
from sklearn.externals import joblib
reg1 = joblib.load("C:/Users/Administrator/Boston_regressor.pkl")
type(reg1)

sklearn.linear_model.base.LinearRegression

In [17]:
pred=reg1.predict(data)
type(pred)

numpy.ndarray